# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=acadelytics
DB_HOST=localhost

# Backend
PORT=5000
BACKEND_PORT=5000
HOST=0.0.0.0

# Frontend
FRONTEND_PORT=4173
VITE_PORT=4173
VITE_API_URL=http://localhost:5000

# JWT y Cookies
ACCESS_TOKEN_SECRET=supersecret_jwt_key
COOKIE_KEY=supersecret_cookie_key
