# Backend
HOST=0.0.0.0
PORT=5000
DB_USERNAME=postgres
PASSWORD=postgres
DATABASE=acadelytics
ACCESS_TOKEN_SECRET=supersecret_jwt_key
cookieKey=supersecret_cookie
CORS_ORIGINS=http://localhost:4173,http://localhost:5173
